@tailwind base;
@tailwind components;
@tailwind utilities;

body, html {
  scroll-behavior: smooth;
  height: 100%;
  width: 100%;
  position: relative;
  background-color: rgb(250 250 249);
  color:rgb(41 37 36);
}

#layoutContainer{
  padding: 0 1rem;
}

#mainPageBanner {
  margin-top: 3rem;
  background: url(/banner.jpg);
  background-size: 2400px 1200px;
  background-repeat: no-repeat;
  object-fit: cover;
  background-position: center;
  width:100%;
  height: 40vh;

  display: flex;
  justify-content: center;
  align-items: center;

}

#titleStyle{
 border-bottom: 2px solid rgb(245 158 11);
 color:rgb(245 158 11);
 margin-bottom: 2rem;
 font-size: 1.5rem;
}

.dot{
  width: 0.6rem;
  height: 0.6rem;
  background-color: rgb(252 211 77);
  border-radius: 50%;
}


.roundImg{
  border-radius: 50%;
  width: 30vw;
  height: 30vw;
}

.introCardContainer {
  padding:0.5rem 1rem;
  margin: 0.5rem;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card-wrapper {
  width: 60vw;
  height: 30vh;
  border: 1px solid rgb(127, 126, 126);
  padding:0.5rem;
  display: row;
  position: relative;
}

.image-wrapper{
  width: 100%;
  height: 70%;
  margin-bottom: 0.5rem;
  position: relative;
  object-fit: contain;
}

.text-hidden{
  display: none;
}

.swiper {
  width:60vw;
  height: 30vh;
  background-color:white;
}

.swiper-slide {
  width: 100%;
  height: 100%;
}

#eventPageBanner{
  margin-top: 3rem;
  background: url(/banner-02.jpg);
  background-size: 2400px 1200px;
  background-repeat: no-repeat;
  object-fit: cover;
  background-position: center;
  width: 100%;
  height: 40vh;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

#btnWrapper{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 ;
  font-size: 0.875rem;
}

.btn {
  border:1px solid rgb(214 211 209);
  margin-left: 0.5rem;
  padding: 0.2rem;
  border-radius: 10%;
}

.btn:hover {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}


.activeBtn {
  background-color: rgb(168 162 158);
  color:white;
  font-weight: 700;
}

.tag {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1.5rem;
  height: 5rem;
  background-color: white;
  top: 0px;
  right: 15px;
  border:1px solid rgb(245 158 11);
  z-index: 1;

  font-size: 14px;
  font-weight: 600;
  color: rgb(245 158 11);
  writing-mode: vertical-lr;
}

.eventCardWrapper{
  position: relative;
  padding: 0.5rem;
  width: 40vw;
  height: 30vh;
}

.eventCardWrapper:hover {
  .cardImg {
    transform: scale(1.2);
    transition: all ease-in-out 0.5s;
  }

  .tag {
    transition: all ease-in-out 0.5s;
    background-color: rgb(245 158 11);
    color: white;
  }
}

.eventCardTextWrapper{
  margin: 0.2rem 0;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}

#postPageBanner{
  margin-top: 3rem;
  background: url(/banner.jpg);
  background-size: 2400px 1200px;
  background-repeat: no-repeat;
  object-fit: cover;
  background-position: center;
  width: 100%;
  height: 40vh;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

#myFavPageBanner{
  margin-top: 3rem;
    background: url(/myFav-banner.jpg);
    background-size: 2400px 1200px;
    background-repeat: no-repeat;
    object-fit: cover;
    background-position: center;
    width: 100%;
    height: 40vh;
  
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 1280px) {

  #mainPageBanner,
  #eventPageBanner,
  #postPageBanner,
  #myFavPageBanner {
    height: 70vh;
  }

  .roundImg {
    border-radius: 50%;
    max-width: 12vw;
    max-height: 12vw;
   
  }

  .eventCardWrapper {
   max-width: 18vw;
   max-height: 30vh;
  }

}

@media screen and (min-width: 768px) {
  .roundImg {
    border-radius: 50%;
    width: 16vw;
    height: 16vw;
  }

  .card-wrapper {
    max-width: 60vw;
    max-height: 35vh;
    border: 1px solid rgb(174, 174, 174);
    padding: 10px;
    display: flex;
    position: relative;
    border-radius: 5px;
  }

  .image-wrapper {
    max-width: 50vw;
    height: auto;
    position: relative;
    object-fit: contain;
  }

  .swiper {
    max-width: 60vw;
    max-height: 35vh;
  }

  #btnWrapper {
    margin: 2 0.5rem 0 0.5rem;
    ;
  }

  .eventCardWrapper {
    width: 30vw;
  }

  .eventCardTextWrapper {
    margin: 0.2rem 0;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
  }
}

@media screen and (min-width:640px) {

  #mainPageBanner,
  #eventPageBanner,
  #postPageBanner,
  #myFavPageBanner {
    height: 50vh;
  }

  .swiper {
    width: 80vw;
    height: 40vh;
  }

  .card-wrapper {
    width: 80vw;
    height: 40vh;
    border: 1px solid rgb(174, 174, 174);
    padding: 0.5rem;
    display: flex;
    position: relative;
    border-radius: 5px;
  }

  .text-hidden {
    display: inline-block;
  }

  .image-wrapper {
    width: 60vw;
    height: auto;
    position: relative;
    object-fit: contain;
  }
}