@tailwind base;
@tailwind components;
@tailwind utilities;

body, html {
  scroll-behavior: smooth;
  height: 100%;
  width: 100%;
}

.hero-img {
  background-image: url('/heroImage.jpg');
  width:100%;
  height: 300px;
  background-size: cover;
}


.card-wrapper {
  width: 60vw;
  height: 40vh;
  border: 1px solid rgb(127, 126, 126);
  padding: 10px;
  display: row;
  position: relative;
}

.card-wrapper:hover {


}

.image-wrapper{
  width: 100%;
  height: 60%;

  position: relative;
  object-fit: contain;
}

.btn {
  font-size:14px;
  padding: 5px;
  color: black;
  border-radius: 10px;
}


.activeSeasonBtn {
  background-color: rgb(245 158 11);
  color:white;
  font-weight: 700;
}

.activeCityBtn {
background-color: rgb(132 204 22);
color: white;
font-weight: 700;
}

.tag {
  position: absolute;
  width: 120px;
  height: 30px;
  background-color: rgb(121, 121, 121);
  top: 0px;
  right: 15px;
 font-size: 16px;
 color:white;

}

.cardIcon {
  position: absolute;
  top:10px;
  left:15px;
 
  
}

.authInput {
  background-color: rgb(234, 179, 8);
  color:white;
  font-weight: 800;
  margin-left: 5px;
  font-size: 18px;

}

@media (min-width: 768px) {
  .hero-img {
    width: 100%;
    height: 400px;
  }
}

@media (min-width:648px) {
.card-wrapper {
    width: 80vw;
    height: 40vh;
    border: 1px solid rgb(174, 174, 174);
    padding: 10px;
    display: flex;
    position: relative;
    border-radius: 5px;
  }
    .image-wrapper {
      width: 60vw;
      height: auto;
      position: relative;
      object-fit: contain;
    }

  .btn{
    font-size: 18px;
  }
}

@media (min-width: 1024px) {
.card-wrapper {
    width: 80vw;
    height: 40vh;
    border: 1px solid rgb(174, 174, 174);
    padding: 10px;
    display: flex;
    position: relative;
    border-radius: 5px;
  }

  .image-wrapper {
    width: 60vw;
    height: auto;
    position: relative;
    object-fit: contain;
  }
}