@tailwind base;
@tailwind components;
@tailwind utilities;

body, html {
  scroll-behavior: smooth;
  height: 100%;
}


.global-padding {
padding: 20px 250px;
}

.hero-img {
  background-image: url('/heroImage.jpg');
  width:100%;
  min-width: 1028px;
  height: 500px;
  object-fit: cover;
}

.cards-grid {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-column-gap: 50px;
}
